
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
    <head>
        
        <p>Choose a topic:</p>
    </head>

    <body>
        
        <div class="dropdown">
        <button class="dropbtn">Topic</button>
        <div class="dropdown-content">
            {% for topic in topics %}
                <a href="use_cases.html">{{topic.name}}</a>
            {% endfor %}
        </div>
        </div>
            
        
        <!--{% for topic in topics %}
                <button onclick="send()">{{topic.name}}</button>
                <br>
            {% endfor %}-->
        
        <script>
            
            function send() {
                
            }

            function printBtn() { //goal: create a vertical line of buttons
                //Array for topic nodes
                //var topics = {topics};
                for(var i = 0; i<topics.length; i++) {
                    var btn = document.createElement("button");
                    var t = document.createTextNode(topics[i]['name']); //prints out the topic names
                    btn.appendChild(t);
                    document.body.appendChild(btn);
                    document.write("<br>");
                }
            }
            window.onload = printBtn();
        </script>
        

    </body>
    






</html>

{% endblock %}


<!--Notes
    
    {{name}} to specify variables in app.py


-->