{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>

<head>
    <style>
        .center {
            /* display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%; */
            vertical-align: middle;
        }
    </style>

    <br><br><br><br><br>
    
    <p>
        <img src="graphdb.jpg" alt="graphdb" class="center"/>
    </p>
    
    <br><br>
    <p style="text-align: center;">Choose a topic and application:</p>
    <!--Any extra style choices can be added below-->

</head>

<body>
    <br>
    <form method='POST' style="text-align: center;">
        {{ form.crsf_token }}
        {{ form.topic }}
        {{ form.application }}
        <input type="submit">
    </form>
    <script>
        let topic_select = document.getElementById('topic');
        let app_select = document.getElementById('application');

        topic_select.onchange = function () {
            topic = topic_select.value;

            fetch('/use_cases/' + topic).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '';

                    for (application of data.applications) {
                        optionHTML += '<option>' + application + '</option>';
                    }

                    app_select.innerHTML = optionHTML;
                });
            });
        }
    </script>

    <!--<form method="POST" action="/use_cases" style="text-align: center;">
            <select id="topics">
                {% for topic in topics %}
                <option value="topic">{{topic.name}}</option>
                
                {% endfor %}

            </select>
            <input type="button" value="Submit" onclick="send()">
        </form> 
        
        
   <div class="dropdown">
        <button class="dropbtn" style="text-align: center;">Topic</button>
        <div class="dropdown-content">
            {% for topic in topics %}
                <a href="use_cases">{{topic.name}}</a>
                
            {% endfor %}
        </div>
        </div>
           
        
        {% for topic in topics %}
                <button onclick="send()">{{topic.name}}</button>
                <br>
            {% endfor %}-->




</body>







</html>

{% endblock %}


<!--Notes
    
    {{name}} to specify variables in app.py


-->