
{% extends 'base.html' %}

{% block title %}Usage Cases{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
    <head>
        <p>Topic: {{topic}}</p>
    </head>

    <body>
        <form method="POST" action="" style="text-align: center;">
            <select id="topics">
                {% for app in applications %}
                <option value="topic">{{app.name}}</option>
                
                {% endfor %}

            </select>
            <input type="button" value="Submit" onclick="send()">
        </form> 


    </body>


</html>










{% endblock %}